* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@font-face {
  font-family: "Autography";
  font-display: swap;
  src: url("../fonts/autography/Autography.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/Helvetica-Neue-Medium-Extended.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --white--: #fdfdfc;
  --black--: #040d10;
  --green--: #456b6a;
  --gray--: #525556;

  --h1: 2rem;
  --h2: 1.6rem;
  --h3: 3rem;
  --h4: 1rem;
  --p: 0.8rem;
  --p_width: 80%;

  --text_art_top_padding: 25%;
  --image_art_top_padding: 5%;

  /* SCULPTURE art images size */
  --art_image_size: 90%;

  --black_title_width: 15rem;
}

h1 {
  font-size: var(--h1);
  color: var(--black--);
  font-family: "Staatliches";
}

h2 {
  font-size: var(--h2);
  color: var(--black--);
  font-family: "Staatliches";
}

h3 {
  font-size: var(--h3);
  color: var(--black--);
  font-family: "Autography";
}
h4 {
  font-size: var(--h4);
  color: var(--black--);
  font-family: "Helvetica";
}

p,
footer {
  font-size: var(--p);
  color: var(--black--);
  font-family: "Helvetica";
  width: var(--p_width);
}
/* ++++++++++++++++++++++++++++++++++MAIN++++++++++++++++++++++++++++++++++ */
html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white--);
}
body {
  width: 100vw;
}

/* ////////////////////////////NAVBAR//////////////////////////// */
.navbar {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.brand-title {
  margin: 1rem;
  margin-top: 1.5rem;
}

.brand-title img{
  width: 12rem;
}



.navbar-links ul {
  display: flex;
  margin-right: 30%;
  margin-block: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  padding-bottom: 1rem;
}

.navbar-links li:hover {
  color: var(--green--);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.search {
  width: 2rem;
  margin-top: 0.3rem;
}

/* ////////////////////////////HEADER//////////////////////////// */
main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

#wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
#background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#foreground {
  position: absolute;
  height: 80%;
  bottom: 0;
  width: 100%;
  object-position: 80% 50%;
  object-fit: cover;
}

#background {
  transform: translateZ(-15px) scale(3);
}
#logo {
  margin-bottom: 40rem;
  transform: translateZ(-15px) scale(1.5);
}

/* ////////////////////////////TITLE//////////////////////////// */
#title {
  background-image: url("../img/bg_small_ractangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}
.title_text {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 50vh;
  padding-top: 10vh;
}
#title h4 {
  margin-top: 5%;
}
/* ////////////////////////////ART//////////////////////////// */
#art_part {
  width: 100vw;
  background-color: var(--white--);
}
.art_info {
  height: 50vh;

  padding-top: var(--text_art_top_padding);
  margin: auto;
  text-align: center;
  width: 70%;
}
.art_info h2 {
  margin-bottom: 5%;
  width: 70%;
  margin: auto;
}
.art_info p {
  text-align: left;
  width: 100%;
  margin: 2rem auto 2rem auto;
}
.button {
  margin-top: 5%;
}
#sculpture {
  background-image: url("../img/bg_small_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#birdhouse {
  background-image: url("../img/bg_small_4.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#wall {
  background-image: url("../img/bg_small_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.art_image {
  margin: auto;
  width: var(--art_image_size);
  padding-top: var(--image_art_top_padding);
}
.art_image img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* ////////////////////////////SHOP//////////////////////////// */
#shop {
  width: 100%;
  margin: auto;
}
#shop_article {
  width: 90%;
  margin: auto;
}
.black_title {
  margin: 2rem auto;
  display: flex;
  align-items: center;
}
.black_title img {
  width: var(--black_title_width);
  margin: auto;
}
.see_more p {
  margin: 1rem;
  width: 90vw;
}
.see_more p {
  width: auto;
  display: flex;
  justify-content: right;
}
.product {
  width: 90%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ////////////////////////////MAP//////////////////////////// */
.map_text {
  margin: auto;
}
.map_text p {
  margin: auto;
}

#map_image {
  margin: auto;
  width: 90vw;
  height: 60vh;
  background-image: url("../img/troll_map_small.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#map_button {
  margin: auto;
  width: 8rem;
  padding-top: 10rem;
}
#map_button a img {
  width: 8rem;
}
/* ////////////////////////////ABOUT//////////////////////////// */
#about {
  height: 100vh;
  background-image: url("../img/bg_small_about.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#about_article {
  width: 90vw;
  margin: auto;
}
.about_text p,
.about_text h3 {
  margin: auto;
  width: 90%;
}
.about_text a {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.about_text a img {
  margin: auto;
  width: 5rem;
}
.about_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}
.about_div img {
  width: 80%;
}
/* ////////////////////////////GALLERY//////////////////////////// */
#gallery {
  width: 80vw;
  margin: auto;
}
#gallery_article {
  display: grid;
  grid-template-columns: 2;
}
.gallery_grid {
  width: 100%;
}
.gallery_grid img {
  width: 100%;
  margin: auto;
}

/* SoMe */

.soMe img {
  width: 4%;
}

.soMe {
  margin-top: 10%;
}

/* ////////////////////////////FOOTER//////////////////////////// */

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--gray--);
  font-family: "Staatliches";
  font-weight: lighter;
  line-height: 2.5rem;
}
.size_up:hover {
  animation: size_up 0.3s forwards ease-in-out;
}

.size_up:not(:hover) {
  animation: size_down 0.3s forwards ease-in-out;
}

@keyframes size_up {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes size_down {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}
ul {
  list-style-type: none;
  margin-bottom: 5rem;
}
footer {
  width: 100vw;
  height: 30vh;
  background-image: url("../img/footer_bg.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main_footer img {
  width: 80%;
}

.main_footer {
  font-size: 0.9rem;
  color: var(--black--);
}

#footer_section {
  display: flex;
  gap: 5%;
  width: 80%;
  margin-bottom: 1rem;
}
.center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down {
  position: relative;
  width: 50px;
  height: 80px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid black;
  overflow: hidden;
}

.down:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  animation: animate 1s linear infinite;
}

.down:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  background: black;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  border-radius: 3px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 80px);
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
    height: 100vh;
  }

  .brand-title {
    margin-right: 50%;
    margin-top: 1.5rem;
    width: 10rem;
    
  }

  .brand-title img{
    width: 10rem;
  }

  .toggle-button {
    display: flex;
    margin-top: 1rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links li a {
    font-size: 2rem;
  }

  .navbar-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    margin: 1.5rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .svgs img {
    width: 3rem;
  }
}

@media only screen and (min-width: 500px) {
  :root {
    --h1: 2.8rem;
    --text_art_top_padding: 30%;
    --image_art_top_padding: 15%;

    --art_image_size: 75%;
  }
  .art_info {
    height: 45vh;
  }

  .about_text p,
  .about_text h3 {
    width: 70%;
  }
  .about_text h3 {
    text-align: center;
  }
  #about {
    background-size: 140%;
  }
  .about_div img {
    width: 50%;
  }
  .main_footer {
    font-size: 1.1rem;
  }

  #footer_section {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 700px) {
  :root {
    --h1: 3.8rem;
    --h2: 2.4rem;
    --p: 1.2rem;
    --p_width: 80%;

    --text_art_top_padding: 30%;
    --image_art_top_padding: 15%;

    --art_image_size: 65%;
  }
  .title_text {
    height: 60vh;
  }
  #foreground {
    height: 100%;
    object-position: 50% 50%;
  }
  #logo {
    margin-bottom: 25rem;
    transform: translateZ(-15px) scale(3);
  }

  .see_more p {
    margin: 1rem;
    width: 90vw;
  }
  .see_more p {
    width: auto;
    display: flex;
    justify-content: right;
  }
  .product {
    width: 30%;
    margin: 10px;
  }
  #shop_products {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
  #map_image {
    width: 80vw;
    height: 80vh;
    background-image: url("../img/troll_map.png");
  }
  .map_text p {
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
  }
  #map_button {
    margin: auto;
  }
  .about_text a img {
    width: 8rem;
  }

  #gallery_article {
    display: flex;
    gap: 1rem;
  }
  .gallery_grid {
    width: 50%;
  }
  .main_footer img {
    width: 60%;
  }

  .main_footer {
    font-size: 1.3rem;
  }

  #footer_section {
    gap: 7%;
  }
  footer {
    height: 50vh;
    margin-top: -15rem;
  }
  #footer_section {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --h1: 5rem;
    --h2: 3rem;
    --p: 1.2rem;
    --p_width: 80%;
    --h4: 1.6rem;

    --text_art_top_padding: 0;
    --image_art_top_padding: 15%;

    --art_image_size: 70%;
  }

  #sculpture {
    background-image: none;
  }
  #birdhouse {
    background-image: none;
  }
  #wall {
    background-image: none;
  }
  #title {
    background-image: none;
  }
  #art_part {
    height: 410vh;
    background-image: url("../img/bg_home.jpg");
    background-size: 100% 90%;
    background-repeat: no-repeat;
  }
  .art_article {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 95%;
    margin: auto;
  }
  .art_article:nth-child(3) {
    grid-auto-flow: dense;
    direction: rtl;
  }
  .art_article .art_info p {
    grid-auto-flow: dense;
    direction: ltr;
  }
  .art_info {
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
  }
  .art_info h2 {
    margin-bottom: 5%;
    width: 100%;
  }

  .art_info p {
    width: 100%;
  }
  .art_image img {
    margin: auto;
  }
  #sculpture .art_info,
  #wall .art_info {
    text-align: left;
  }
  #art_info_birdhouse p {
    text-align: right;
  }
  .art_image {
    margin-left: 5%;
  }
  .art_image:nth-child(4) {
    margin-left: auto;
    margin-right: 0%;
  }
  .button {
    margin-top: 10%;
    z-index: 2;
  }

  #shop {
    margin-top: -30rem;
    z-index: 1;
  }

  #about_article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about_text p,
  .about_text h3 {
    margin: auto;
    width: 50%;
    flex-shrink: 2;
  }
  .about_text p {
    font-size: 1rem;
  }
  .about_text h3 {
    text-align: center;
  }
  #about {
    display: flex;
    background-size: cover;
    align-items: center;
  }
  .about_div img {
    width: 120%;
  }

  footer {
    margin: 0;
  }

  .main_footer {
    font-size: 2.5rem;
  }

  .main_footer img {
    width: var(--black_title_width);
  }

  #footer_section {
    margin-left: 12%;
    gap: 8%;
  }
  footer {
    height: 90vh;
    margin-top: -30rem;
  }
  #footer_section {
    margin-bottom: 0rem;
  }
}
