* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  @font-face {
    font-family: "Autography";
    font-display: swap;
    src: url("/fonts/autography/Autography.otf") format("truetype");
  }
  
  @font-face {
    font-family: "Helvetica";
    font-display: swap;
    src: url("/fonts/HelveticaMedExtObl.ttf");
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
  
  :root {
    --white--: #fdfdfc;
    --black--: #040d10;
    --green--: #456b6a;
    --gray-- : #525556;
  
    --h1: 2.5rem;
    --h2: 1.6rem;
    --h3: 2rem;
    --h4: 1.3rem;
    --h5: 1rem;
    --p: 0.8rem;
    --p_width: 80%;
  
    --text_art_top_padding: 25%;
    --image_art_top_padding: 5%;
  
    /* SCULPTURE art images size */
    --art_image_size: 90%;
  }
  
  h1 {
    font-size: var(--h1);
    color: var(--black--);
    font-family: "Staatliches";
  }
  
  h2 {
    font-size: var(--h2);
    color: var(--black--);
    font-family: "Staatliches";
  }
  
  h3 {
    font-size: var(--h3);
    color: var(--black--);
    font-family: "Autography";
    font-weight: lighter;
  }
  h4 {
    font-size: var(--h4);
    color: var(--black--);
    font-family: "Staatliches";
    font-weight: lighter;
  }

  h5 {
    font-size: var(--h5);
    color: var(--gray--);
    font-family: "Staatliches";
    font-weight: lighter;
  }
  
  p {
    font-size: var(--p);
    color: var(--black--);
    font-family: "Helvetica";
    width: var(--p_width);
  }
  /* ++++++++++++++++++++++++++++++++++MAIN++++++++++++++++++++++++++++++++++ */
  html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--white--);
  }
  
  /* ////////////////////////////HERDER//////////////////////////// */
  
  /* ////////////////////////////ART//////////////////////////// */
  #art_part {
    width: 100vw;
  }

  .art_info {
    height: 50vh;
  
    padding-top: var(--text_art_top_padding);
    margin: auto;
    text-align: left;
    width: 70%;
  }
  .art_info h2 {
    margin-bottom: 5%;
    width: 70%;
    margin: auto;
  }
  .art_info p {
    margin: auto;
  
    width: 70%;
  }

  #art_info_birdhouse{
    margin-bottom: 30%;
    width: 80%;
  }

  #sculpture {
    background-image: url(/img/bg_small_1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  #birdhouse {
    background-image: url(/img/bg_small_4.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  #wall {
    background-image: url(/img/bg_small_3.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .art_image {
    margin: auto;
    width: var(--art_image_size);
    padding-top: var(--image_art_top_padding);
  }
  .art_image img {
    height: 100%;
    width: 100%;
  }


/* B ROLL VIDEO */

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  } 

.showcase{
    height: 100vh;
}

/* KNOW US BETTER */

.ourvideo{
    height: 20vh;
}

.know{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
}

/* FAMILY PICTURES */



.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_family{
    width: 40vw;
    margin-top: 20%;
}

.family{

    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10%;
    gap: 2%;
    
}

.portrait{
    width: 100%;
}

h5{
    line-height: 1rem;
}



@media only screen and (min-width: 500px) {
    :root {
      --text_art_top_padding: 30%;
      --image_art_top_padding: 15%;
  
      --art_image_size: 75%;
    }
    .art_info {
      height: 45vh;
    }
  }
  
  @media only screen and (min-width: 700px) {
    :root {
      --h2: 2.4rem;
      --p: 1.2rem;
      --p_width: 80%;
  
      --text_art_top_padding: 30%;
      --image_art_top_padding: 15%;
  
      --art_image_size: 65%;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    :root {
      --h2: 3rem;
      --p: 1.2rem;
      --p_width: 80%;
  
      --text_art_top_padding: 0;
      --image_art_top_padding: 0%;
  
      --art_image_size: 70%;
    }
  
    #sculpture {
      background-image: none;
    }
    #birdhouse {
      background-image: none;
    }
    #wall {
      background-image: none;
    }
  
    #art_part {
      height: 300vh;
      background-image: url(/img/bg_community.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .art_article {
      display: grid;
      grid-template-columns: 50% 50%;
      height: 90vh;
      width: 95%;
      margin: auto;
    }

    .art_info{
        grid-column-start: 2;
    }

    .art_image{
        grid-column-start: 1;
        grid-row-start: 1;
    }


    .art_article:nth-child(2),
    .art_article:nth-child(4) {
      grid-auto-flow: dense;
      direction: rtl;
    }
    .art_info {
      text-align: left;
      margin-left: 35%;
      margin-top: 38%;
      /* margin-left: 10%;
      margin-right: 10%; */
    }
    .art_info h2 {
      margin-bottom: 5%;
      width: 100%;
    }
    .art_info p {
      width: 80%;
      margin-right: 50%;
    }

    #art_info_birdhouse p {
        width: 100%;
        margin-left: 10%;
        margin-right: 0;
    }

    #art_info_birdhouse{
        margin-left: 15%;
        margin-top: 15%;
    }


    /* #sculpture .art_info,
    #wall .art_info {
      text-align: right;
    } */
    /* .art_image {
      margin-left: 5%;
    } */
    /* .art_image:nth-child(4) {
      margin-left: auto;
      margin-right: 0%;
    } */
