*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Autography';
    font-display: swap;
    src: url('/fonts/autography/Autography.otf')
      format('truetype');
  }



@font-face {
    font-family: 'Helvetica';
    font-display: swap;
    src: url('/fonts/HelveticaMedExtObl.ttf');
  }


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


:root{
   
    --white--: #FDFDFC;
    --black--: #040D10;
    --green--: #456B6A;

    --h1:2rem;
    --h2:1.5rem;
    --h3:1.2rem;
    --p:1rem;

}


h1{
    font-size: var(--h1);
    color: var(--black--);
}

h2{
    font-size: var(--h2);
    color: var(--black--);
}

h3{
    font-size: var(--h3);
    color: var(--black--);
}

p{
    font-size: var(--p);
    color: var(--black--);
} 